
# Object files (compiler-generated)
*.o
# shared libraries (compiler-generated)
*.so
# python bytecode (generated)
*.pyc
# Finder window files on the mac
.DS_Store
# vim swap files
.*.swp
# f95 module files
*.mod
# lib directory (libs are compiler-generated)
lib
# Virtualenv python
SHTOOLS-python

